.form {
  background-color: $shamrock;
  height: 66rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50rem;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 4rem;

    @media (min-width: 769px) {
      text-align: end;
      margin: 0 10rem 20rem 0;
    }
  }

  &__campos {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  & label {
    font-size: 1.8rem;
    margin-top: 2rem;
    align-self: flex-start;
  }

  & input {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
  }

  & textarea {
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.btn {
  width: 52%;
  height: 4rem;
  margin-top: 2rem;
  background-color: yellowgreen;
  border-radius: 1rem;

  @media (min-width: 769px) {
    grid-column: 2/3;
    grid-row: auto;
    margin: 0 0 12rem;
  }
}
